/* ##### GENERAL #### */
body{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #333;
	background-color: #dfd4d4;
	overflow-x: hidden;
}

/* ##### HEADER #### */
nav{
	margin-top: 10px;
	border: 1px solid #333;
	border-radius: 10%;
	background-color: #fff;
}

nav span{
	color: #c3b0b0;
	font-style: italic;
	font-weight: bold;
}

nav ul{
	width: 100%;
}

nav ul li:last-child{
	margin-left: auto;
}

/* ##### ASIDE #### */
aside{
	height: 90vh;
	background-image: url(../img/mariage.webp);
	background-size: cover;
	background-position: center;
	border: 1px solid #333;
	border-radius: 10%;
}

/* ##### SECTION #### */

h1{
	width: 50%;
	padding: 10px;
	background-color: #fff;
	border: 1px solid #333;
	border-radius: 10%;
	margin: auto;
	margin-bottom: 20px;
}

/* Formulaire */
form{
	padding: 40px;
	border: 1px solid #333;
	border-radius: 10px;
	background-color: #fff;
}

.btn-primary{
	background-color: #c3b0b0;
	color: #fff;
	border: 1px solid #c3b0b0;
}

.btn-primary:hover{
	background-color: #fff;
	color: #c3b0b0;
	border: 1px solid #c3b0b0;
}

/* HR */
hr{
	color: #333;
}

/* card */
.card{
	margin: 10px;
	border: 1px solid #333;
	border-radius: 10%;
	background-color: #fff;
}

/* Affichage du prenoms des mariés */
#marriedName{
	margin: auto;
	margin-top: 25px;
	border: 3px dotted #333;
	border-radius: 40%;
	background-color: #fff;
}

@font-face {
	font-family: Amazone;
	src: url(path/to/font/file/Amazone) format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

.warp__placeholder{
	position: absolute;
	color: transparent;
	font-size: .1px;
}

.warp {
	display: block;
	position: relative;
	width: 595px;
	height: 405px;
	font: normal 50px/1 Amazone;
}

[class*='warp__'] {
	display: block;
	position: absolute;
}

.warp__0 {
	transform-origin: 50% 41px;
	transform: translate(59.785px,108.2355px) rotate(-0.433114rad);
}

.warp__1 {
	transform-origin: 50% 41px;
	transform: translate(102.4756px,96.81710000000001px) rotate(-0.257917rad);
}

.warp__2 {
	transform-origin: 50% 41px;
	transform: translate(124.72290000000001px,92.7382px) rotate(-0.148464rad);
}

.warp__3 {
	transform-origin: 50% 41px;
	transform: translate(142.3504px,91.08349999999999px) rotate(-0.055041rad);
}

.warp__4 {
	transform-origin: 50% 41px;
	transform: translate(157.2483px,91.1372px) rotate(0.06245rad);
}

.warp__5 {
	transform-origin: 50% 41px;
	transform: translate(179.7763px,94.63900000000001px) rotate(0.230377rad);
}

.warp__6 {
	transform-origin: 50% 41px;
	transform: translate(204.1558px,102.2774px) rotate(0.417192rad);
}

.warp__7 {
	transform-origin: 50% 41px;
	transform: translate(223.3028px,114.33099999999999px) rotate(0.62047rad);
}

.warp__8 {
	color: #dfd4d4;
	transform-origin: 50% 41px;
	transform: translate(243.3036px,131.8198px) rotate(0.840109rad);
}

.warp__9 {
	color: #dfd4d4;
	transform-origin: 50% 41px;
	transform: translate(258.9548px,150.9439px) rotate(1.023787rad);
}

.warp__10 {
	transform-origin: 50% 41px;
	transform: translate(267.9779px,173.0629px) rotate(1.188315rad);
}

.warp__11 {
	transform-origin: 50% 41px;
	transform: translate(275.009px,205.5381px) rotate(0.98014rad);
}

.warp__12 {
	transform-origin: 50% 41px;
	transform: translate(307.9434px,230.8435px) rotate(0.736699rad);
}

.warp__13 {
	transform-origin: 50% 41px;
	transform: translate(326.2688px,243.3598px) rotate(0.603644rad);
}

.warp__14 {
	transform-origin: 50% 41px;
	transform: translate(341.2768px,253.89010000000002px) rotate(0.481428rad);
}

.warp__15 {
	transform-origin: 50% 41px;
	transform: translate(361.9555px,263.853px) rotate(0.349123rad);
}

.warp__16 {
	color: #dfd4d4;
	transform-origin: 50% 41px;
	transform: translate(387.2215px,270.8031px) rotate(0.233468rad);
}

.warp__17 {
	color: #dfd4d4;
	transform-origin: 50% 41px;
	transform: translate(409.3962px,274.3458px) rotate(0.152418rad);
}

.warp__18 {
	transform-origin: 50% 41px;
	transform: translate(424.1004px,276.6132px) rotate(0.06651rad);
}

.warp__19 {
	transform-origin: 50% 41px;
	transform: translate(451.0756px,276.8549px) rotate(-0.049349rad);
}

.warp__20 {
	transform-origin: 50% 41px;
	transform: translate(482.5211px,273.8709px) rotate(-0.159746rad);
}

.warp__21 {
	transform-origin: 50% 41px;
	transform: translate(507.37519999999995px,268.5871px) rotate(-0.259789rad);
}

.warp__22 {
	transform-origin: 50% 41px;
	transform: translate(531.9414px,261.2163px) rotate(-0.359789rad);
}

/* ##### FOOTER #### */
footer{
	margin-top: 15px !important;
	padding-top: 15px;
	border-radius: 10px;
	background-color: #333;
	color: #fff;
}

/* MEDIA QUERIES */

/* Changer la couleur du fond en fonction de la taille de l'écran */
@media screen and (max-width: 960px) {
	body{
		background-color: #fff;
	}
}
@media screen and (max-width: 991px) {
	nav ul li:last-child{
		margin-left: 0;
	}

	nav ul li{
		text-align: center;
	}
}

@media screen and (max-width: 1024px) {
	#marriedName{
		display: none;
	}

	#hr1{
		display: none;
	}
}